<?xml version="1.0" encoding="utf-8"?>
<launch>
  <arg name="MANAGER" default="ground_object_segmentation_manager"/>
  <arg name="INPUT" default="/openni_c2/depth_registered/quater/points"/>
  <arg name="fixed_frame_id" default="base_footprint"/>
  <arg name="NAMESPACE" default="ground_object_segmentation"/>
  <arg name="SELF_FILTER_PARAM" default="$(find jsk_pr2_startup)/jsk_pr2_sensors/tilt_self_filter.yaml" />

  <group ns="$(arg NAMESPACE)">

    <node pkg="nodelet" type="nodelet" name="$(arg MANAGER)"
	  args="manager" output="screen"/>

    <node pkg="pr2_navigation_self_filter"
          type="self_filter" clear_params="true"
          name="openni_cloud_self_filter" respawn="true" output="screen">
      <remap from="cloud_in" to="$(arg INPUT)" />
      <remap from="cloud_out" to="~cloud_out" />
      <rosparam command="load" file="$(arg SELF_FILTER_PARAM)" />
      <param name="use_rgb" value="true" />
      <param name="keep_organized" value="true"/>
      <param name="subsample_value" type="double" value="0.0"/>
    </node>

    <node pkg="nodelet" type="nodelet" name="input_relay"
          args="load jsk_topic_tools/Relay $(arg MANAGER)">
      <remap from="~input" to="$(arg INPUT)" />
    </node>

   <node pkg="nodelet" type="nodelet" name="transform_points"
          args="load jsk_pcl/TfTransformCloud $(arg MANAGER)">
     <remap from="~input" to="input_relay/output" />
     <rosparam subst_value="true">
       target_frame_id: $(arg fixed_frame_id)
     </rosparam>
   </node>
   
   <node pkg="nodelet" type="nodelet"
    	  name="xfilter"
    	  args="load pcl/PassThrough $(arg MANAGER)">
      <remap from="~input" to="transform_points/output" />
      <rosparam>
filter_field_name: x
filter_limit_min: -3.0
filter_limit_max: 3.0
keep_organized: true
      </rosparam>
    </node>

    <node pkg="nodelet" type="nodelet"
    	  name="zfilter"
    	  args="load pcl/PassThrough $(arg MANAGER)">
      <remap from="~input" to="xfilter/output" />
      <rosparam>
filter_field_name: z
filter_limit_min: 0.05
filter_limit_max: 2.0
keep_organized: true
      </rosparam>
    </node>

<!--    <node pkg="nodelet" type="nodelet" -->
<!--           name="voxelgrid" -->
<!--           args="load pcl/VoxelGrid $(arg MANAGER)" -->
<!--           output="screen" clear_params="true"> -->
<!--       <remap from="~input" to="zfilter/output" /> -->
<!--       <rosparam> -->
<!-- filter_field_name: z -->
<!-- filter_limit_min: 0.0 -->
<!-- filter_limit_max: 5.0 -->
<!-- leaf_size: 0.01 -->
<!--       </rosparam> -->
<!--    </node> -->


   <node pkg="nodelet" type="nodelet"
          name="level00_clustering"
          args="load jsk_pcl/EuclideanClustering $(arg MANAGER)"
          output="screen" clear_params="true">
      <remap from="~input" to="zfilter/output" />
      <rosparam>
tolerance: 0.1
max_size: 50000
min_size: 50
      </rosparam>
   </node>

   <node pkg="nodelet" type="nodelet"
	 name="level00_cluster_decomposer"
	 args="load jsk_pcl/ClusterPointIndicesDecomposer $(arg MANAGER)"
	 output="screen" clear_params="true">
     <remap from="~input" to="zfilter/output" />
     <remap from="~target" to="level00_clustering/output" />
     <rosparam>
align_boxes: false
use_pca: true
publish_clouds: false
publish_tf: false
     </rosparam>
   </node>

   <node pkg="jsk_interactive_marker"
   	 type="bounding_box_menu_marker"
   	 name="bounding_box_marker"
   	 output="screen">
     <remap from="~level00_bounding_box_array" to="level00_cluster_decomposer/boxes" />
     <remap from="~level01_bounding_box_array" to="level01_cluster_decomposer/boxes" />
   </node>

   <node pkg="nodelet" type="nodelet"
   	 name="level00_selected_cloud"
   	 args="load jsk_pcl/SelectedClusterPublisher $(arg MANAGER)"
   	 output="screen">
     <remap from="~input" to="zfilter/output" />
     <remap from="~indices" to="level00_clustering/output" />
     <remap from="~selected_index" to="bounding_box_marker/level00_selected_index" />
     <remap from="~output" to="level00_selected_pointcloud" />
     <rosparam>
       keep_organized: true
     </rosparam>
   </node>

    <node pkg="nodelet" type="nodelet" name="multi_plane_estimate"
        args="load jsk_pcl/OrganizedMultiPlaneSegmentation $(arg MANAGER)"
        clear_params="true">
    <remap from="~input" to="level00_selected_pointcloud"/>
    <rosparam>
      min_size: 100
      distance_threshold: 0.05
      max_curvature: 0.1
      angular_threshold: 0.05
      connect_plane_distance_threshold: 0.5
      ransac_refine_outlier_distance_threshold: 0.01
      estimate_normal: true
    </rosparam>
  </node>

   
  <!-- <node pkg="nodelet" type="nodelet" -->
  <!--       args="load jsk_pcl/ClusterPointIndicesDecomposer $(arg MANAGER)" -->
  <!--       name="multi_plane_decomposer"> -->
  <!--   <remap from="~input" to="level00_selected_pointcloud" /> -->
  <!--   <remap from="~target" to="multi_plane_estimate/output" /> -->
  <!--   <rosparam> -->
  <!--     tf_prefix: "/multi_plane_centroid" -->
  <!--     align_boxes: false -->
  <!--     use_pca: true -->
  <!--     publish_tf: true -->
  <!--     publish_clouds: true -->
  <!--   </rosparam> -->
  <!-- </node> -->

  <node pkg="nodelet" type="nodelet"
  	name="plane_extraction"
  	args="load jsk_pcl/MultiPlaneExtraction $(arg MANAGER)"
  	output="screen">
    <remap from="~input" to="level00_selected_pointcloud" />
    <remap from="~indices" to="multi_plane_estimate/output_refined" />
    <remap from="~input_polygons" to="multi_plane_estimate/output_refined_polygon" />
    <remap from="~input_coefficients" to="multi_plane_estimate/output_refined_coefficients" />
  </node>
  
  <node pkg="nodelet" type="nodelet" name="level01_clustering"
  	args="load jsk_pcl/EuclideanClustering $(arg MANAGER)" output="screen">
    <remap from="~input" to="plane_extraction/output_nonplane_cloud" />
    <rosparam>
      tolerance: 0.03
      min_size: 20
      max_size: 30000
    </rosparam>
  </node>

  <node pkg="nodelet" type="nodelet"
        name="level01_cluster_decomposer"
        args="load jsk_pcl/ClusterPointIndicesDecomposer $(arg MANAGER)"
        output="screen">
    <remap from="~input" to="plane_extraction/output_nonplane_cloud" />
    <remap from="~target" to="level01_clustering/output" />
    <remap from="~align_planes" to="multi_plane_estimate/output_refined_polygon" />
    <remap from="~align_planes_coefficients"
           to="multi_plane_estimate/output_refined_coefficients" />
    <rosparam>
      align_boxes: true
      use_pca: true
      publish_tf: true
      publish_clouds: false
    </rosparam>
  </node>
  
<!--   <node pkg="nodelet" type="nodelet" name="handle_estimator" -->
<!--         args="load jsk_pcl/HandleEstimator $(arg MANAGER)"> -->
<!--     <remap from="~input" to="level00_selected_pointcloud" /> -->
<!--     <remap from="~input_box" to="bounding_box_marker/level01_selected_box" /> -->
<!--     <rosparam>                                                                                                              -->
<!--       approach_offset: 0.1 -->
<!--       angle_divide_num: 6 -->
<!--     </rosparam> -->
<!-- </node> -->

  <node pkg="roseus" type="roseus" name="handle_estimator"
        args="$(find jsk_pcl_ros)/euslisp/handle_estimator.l"
 	output="screen">
    <remap from="~input_box" to="bounding_box_marker/level01_selected_box" />
    <rosparam>
      approach_offset: 0.1
      gripper_size: 0.8
      angle_difference: 20
      candidate_num: 5
    </rosparam>
 </node>

</group>
</launch>